<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Climb Finder</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link rel="stylesheet" href="/css/main.css">
  <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script> -->
  <!-- <script src="/js/flatpickr.js"></script> -->
</head>

<body>
<div id="top">
  <div class="container">
    <section class="topnav">
    <nav id="">
    <div class="row">
    <div class="nine columns">
      <p></p>
    </div>
      <ul>
      <% if(user){ %>
        <div class="one column">
        <!-- <h1> <%= user.fname %> </h1> -->
          <li>
            <form method="post" action="user/logout?_method=DELETE">
              <input class="login" type="submit" value="Logout">
            </form>
          </li>
        </div>
        <% } else { %>
             <div class="one column">
        <li>
          <form action="/user/login">
            <input class="login" type="submit" value="Login">
          </form>
        </li>
    </div>
     <div class="one column">
        <li>
          <form action="user/register">
            <input class="login" type="submit" value="Register">
          </form>
        </li>
    </div>
        <% } %>
        </div>
      </ul>
    </div>
    <h2>Climb Finder</h2>
    </nav>
    </section>
  </div>

    <div class="twelve columns">

      <h3>
      </h3>
    </div>

  <br>
  <div class="row">
  <div class="twelve columns">
    <h3>Find Someone to Climb With</h3>
    <div class="searc">
      <select name="" id="location">
        <option value="" disabled selected>Climbing Gym</option>
        <option value="1">The Cliffs LIC</option>
        <option value="2">Dumbo Boulders</option>
        <option value="3">Brooklyn Boulders - Queensbridge</option>
        <option value="4">Brookyln Boulders - Brooklyn</option>
        <option value="5">Chelsea Piers Indoor Climbing</option>
      </select>
      <input id="datetimepicker" data-format="yyyy-MM-dd" type="text" placeholder="When do you want to climb?">
      <button style="display: inline-block" id="search">Search</button>
    </div>
  </div>
  </div>
  <div class="results">
  </div>
</div>
  <footer>
    <a href="/">Climb Finder |</a>
    <a href="/user/login" title="">Login |</a>
    <a href="/user/register" title="">Register |</a>
    <a target="_blank" href="https://github.com/mwerbo2/Climb_Finder">Github Repository</a>
  </footer>
</body>

<link rel="stylesheet" type="text/css" href="/css/jquery.datetimepicker.css" >
<script src="/js/jquery.js"></script>
<script src="/js/jquery.datetimepicker.full.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</html>

