<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Route Finder</title>
    <link rel="stylesheet" href="
https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link rel="stylesheet" href="/css/main.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
</head>

<body>
<div id="top">
  <div class="container">
    <section class="topnav">
    <nav id="navi">
      <ul>
        <li>
          <form action="/user/login">
            <input type="submit" value="Login">
          </form>
        </li>
        <li>
          <form action="user/register">
            <input type="submit" value="Register">
          </form>
        </li>
        <li>
          <form method="post" action="user/logout?_method=DELETE">
            <input type="submit" value="Logout">
          </form>
        </li>
        </div>
      </ul>
    </nav>


    <div class="ten columns">
    <h2>Climb Finder</h2>
      <h3>
        <% if(user){ %>
          Welcome, <%= user.fname %> <%= user.lname %>
        <% } else { %>
          Welcome, Guest
        <% } %>
    </h3>
    </div>
    </section>
  </div>
</div>
  <br>
  <h3>Search for Climbs</h3>
  <h3>and a belay partner</h3>
  <div class="searc">
    <label for="">Climb rating:</label>
    <input name="rating" class="rating"><br>
    <label for="">Type of Climbing:</label>
    <input type="text" name="type" class="type"><br>
   <!--  <label for="">Location:</label>
    <input type="text" name="location" class="location"><br> -->
    <button id="search">Search</button>
  </div>
  <div class="results">
  </div>
</body>
</html>
  </div>
</body>
</html>
