<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="
  https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <title>User Login</title>
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
        <a href="/">Climb Finder</a>
        <span style="color:white;font-size:22px;">|</span>
        <a href="/user/register" title="">Register</a>
        <span style="color:white;font-size:22px;">|</span>
        <a target="_blank" href="https://github.com/mwerbo2/Climb_Finder">Github Repository</a>
        </header>
  <div class="container">
    <div class="row">
      <div class="five columns offset-by-five">
        <h1 style="color: black; text-align: left;">Log in</h1>
        <form action="/user/login" method="post">
          <label for="">Email:</label>
          <input type="text" name="email"><br>
          <label for="">Password:</label>
          <input type="password" name="password"><br>
          <input type="Submit" value="Log in">
        </form>
      </div>
    </div>

  </div>
    <footer>
        <a href="/">Climb Finder</a>
        <span style="color:white;font-size:22px;">|</span>
        <a href="/user/register" title="">Register</a>
        <span style="color:white;font-size:22px;">|</span>
        <a target="_blank" href="https://github.com/mwerbo2/Climb_Finder">Github Repository</a>
        </footer>
</body>
</html>
