<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="
  https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <title>User Login</title>
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <h1>Log in</h1>
  <form action="/user/login" method="post">
    <label for="">Email:</label>
    <input type="text" name="email"><br>
    <label for="">Password:</label>
    <input type="password" name="password"><br>
    <input type="Submit" value="Log in">
  </form>
</body>
</html>
