<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="
  https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <title>Registration</title>
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="two columns offset-by-three">
        <h2 class="register">Register</h2>
        <form action="/user/register" method="post">
          <label for="">First Name</label>
          <input type="text" name="fname"><br>
          <label for="">Last Name</label>
          <input type="text" name="lname"><br>
          <label for="">Email</label>
          <input type="text" name="email"><br>
          <label for="">Password</label>
          <input type="password" name="password"><br>
          <label for="">Climb Experience</label>
          <select name="level" id="level">
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Expert">Expert</option>
          </select><br>
          <input type="Submit" value="Create New User" ><br>
        </form>
      </div>
      <div class="four columns offset-by-two">
         <h1 style="color: black; text-align: left;">Log in</h1>
        <form action="/user/login" method="post">
          <label for="">Email:</label>
          <input type="text" name="email"><br>
          <label for="">Password:</label>
          <input type="password" name="password"><br>
          <input type="Submit" value="Log in">
        </form>
      </div>

        </div>
      </div>
    </div>
    <footer>
    <a href="/">Climb Finder</a>
    <span style="color:white;font-size:22px;">|</span>
    <a target="_blank" href="https://github.com/mwerbo2/Climb_Finder">Github Repository</a>
    </footer>
</div>
</body>
<link rel="stylesheet" type="text/css" href="/css/jquery.datetimepicker.css" >
<script src="/js/jquery.js"></script>
<script src="/js/jquery.datetimepicker.full.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</html>

