body {
background-color: #FFFFFF;
margin: 0;
}
.container {
    width: 100%;
    max-width: 1300px;
}
h2.register {
  color: black;
  text-align: left;
}
input.login {
  width: 100px;
  padding: 0 20px 0 20px;
  text-align: center;
  margin: 0 auto;
  color: white;
}
#middle {
  background-color: #E5E5E5;
}
.midd {
  height: 40vh;
  width: 100%;
}
.climb {
  background-color: white;
  border: solid 1px grey;
}
h1 {
  color: white;
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

h3 {
  text-align: center;
}
h5 {
  text-align: center;
}
footer {
  position:absolute;
  bottom:0;
  height: 11vh;
  width: 100%;
  padding-top: 24px;
  background-color: #0f1721;
  font: white;
  text-align: center;
}
.gobble {
  margin: 5px;
  border: solid black 1px;
}
.columns {
  width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
#navi {
  float: right;
  display: inline;
}
#top {
  width: 100%;
  background-image: url("https://holawallpaper.com/images/pictures/2016/02/original/rock-climbing-hd.jpg");
  background-size: cover;
  height: 50vh;
  margin: 0 auto;
  padding-top: 30px;
}
#topprofile {
  width: 100%;
  background-image: url("https://holawallpaper.com/images/pictures/2016/02/original/rock-climbing-hd.jpg");
  background-size: cover;
  height: 30vh;
  margin: 0 auto;
  padding-top: 30px;
}
.topnav {
  height: 20vh;
  padding: none;
  margin: 0 auto;
}

form {
  padding: 0;
  margin: 0;
}
.results {
  /*background-color: #E8E8E8;*/
  /*height: 40vh;*/
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 110px;
  padding: 10px;
}
#level {
  width: 150px;
}
.searc {
  height: 10vh;
  width: 400px;
  margin: 0 auto;
  display: block;
}
#bottom {
  position: relative;
}

