body {
background-color: #FFFFFF;
}
h1 {
  color: white;
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
}
.columns {
  width: 100%;
}

#top {
  width: 100%;
  background-image: url("https://holawallpaper.com/images/pictures/2016/02/original/rock-climbing-hd.jpg");
  background-size: cover;
  height: 50vh;
  margin-left: 0;
  margin-right: 0;
  padding-top: 30px;
}
.topnav {

  height: 20vh;
  padding: none;
  margin: 0 auto;
}

form {
  padding: 0;
  margin: 0;
}
.results {
  height: 40vh;
  width: 500px;
  margin: 0 auto;
  margin-top: 220px;
}
.searc {
  height: 10vh;
  width: 400px;
  margin: 0 auto;
  display: block;
}


