<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Route Finder</title>
  <link rel="stylesheet" href="/css/main.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
  <script></script>
</head>
<body>

<ul class="topnav">
  <li><a href="#">Login</a></li>
  <li><a href="#">Register</a></li>
</ul>
  <h1>Climb Finder</h1>
  <br>
  <h3>Search for Climbs</h3>
  <div class="searc">
    <label for="">Location:</label>
    <input type="text" name="location" class="location"><br>
    <label for="">Climbing Grade:</label>
    <input type="text" name="grade" class="grade"><br>
    <label for="">Type of Climbing:</label>
    <input type="text" name="type" class="type"><br>
    <input type="Submit" value="search">
  </div>

  <div class="results"></div>
</body>
</html>
  </div>
</body>
</html>
