h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.topnav {
  list-style-type: none;
  display: inline-block;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: inline-block;
  padding-left: 600 auto;
  padding-right: 5px;
}

.results {
  height: 40vh;
  width: 500px;
  margin: 0 auto;
  margin-top: 300px;
}
.searc {
  height: 10vh;
  width: 400px;
  margin: 0 auto;
  display: block;
}


